.tarjeta{
    border-radius: 3px;
    display: flex;
    font-family:"Cormorant";
    
    
}
.txtbtnDetalle{
    color: beige;
    text-decoration: none;
    font-family:"Cormorant";
    ;
}
button.btn{
    background-color: #89B0AE;
    color: #89B0AE;
    border-color: #89B0AE;
}

.cardTxt{
    font-size: 100%;
}
.txtPrecio{
    font-size: 200%;
    font-weight: bold;
}
.divTarjetas{
    display: flex;
}