h2{
    font-family:"Cormorant";
    font-size: 300px;
    text-align: center;
    color: #89B0AE;
    background-color: antiquewhite;

}
.todasLasTarjetas{
    display: flex;
    gap: 3px;
    grid-template-areas: 30% 30% 30%;
    margin-left: 3%;
}