.about-container{
  display: flex;
  justify-content: space-around;
}

.about-container img {
  width: auto;
  height: 60vh;
  margin: 0% 0% 0% 10%;
}
.about-container .text{
  padding: 10px 20px;
  font-size: 20px;
  text-align: justify;
}

