.barra-nav{
    margin-right: 10%;
    margin-top: 0;
    font-family:"Cormorant";
    font-size: 110%;
    font-weight: bold;
    color: #555B6E;
    text-decoration: none;
}
a .txtBarra{
    text-decoration: none;
}
.barra{
    gap: 5%;
    text-decoration: none
    
    
}
.logo{
    padding-left: 10%;

}
.logo1{
    width: 50%;
}
.cart_logo{
    width: 30%;
    padding-bottom: 7%;
}
.about{
    text-align: center;
}



