footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 1%;
  margin: 1% 0%;
  background-color: antiquewhite;
}
footer h3{
  font-size: 20px;
  
}
footer h3, footer p{
  color: #89B0AE;
}
footer div{
  margin: 15px 0px;
}
footer span {
  margin: 0px 10px;
}
footer svg {
  color: #555B6E;
}